<style>
  .andreroque-cover{
        margin-bottom: 5em;
  }

h1{
  font-size: 38px;
}
h2, .h2{
  font-weight: 400;
}
h3, .h3{
  font-size: 24px;
  font-weight: 400;
}


</style>


<div class="container p-0 andreroque-cover">
  <h1>Hi there,</h1>
  <p class="h2">
    I'm André Roque, a human navigating life.</p>
  <p class="h3">
    On this site I curate content that resonates with me. Feel free to stick around.
  </p>
</div>