<style>
    .site-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding: 3rem 0 3rem;
}

.copyright{
    color: #2E3440;
    font-size: 0.8rem;
}
</style>

<footer class="site-footer">

    <div class="copyright">
 André Roque © 2020 — Powered by <a href="https://ghost.org/" target="_blank" rel="noopener noreferrer">Ghost</a>
</div>
</footer>