<style>


</style>


<div class="container m-0 p-0">
  <h1>Hi there,</h1>
  <p class="h2">
    I'm André Roque, a human navigating life.</p>
  <p class="h3">
    On this site I store content that resonates with me. Feel free to stick around and read.
  </p>
</div>