

    <div class="container text-center">
            {{#if next}}
{{!--         <a class="older-posts" href="{{page_url next}}">Older Posts &rarr;</a> --}}
        <a type="button" class="btn btn-dark btn-sm" href="{{page_url next}}">Load more</a>
    {{/if}}

    </div>